<!DOCTYPE html>
<html lang="en">
    {% include 'head.twig' %}
    <body>
        <div class="page">
            <div class="nav">
                <ul>
                    <li {% if active == 'oil' %}class="active"{% endif %}><a href="{{ basePath }}oil.html">Oil</a></li>
                    <li {% if active == 'acrylic' %}class="active"{% endif %}><a href="{{ basePath }}acrylic.html">Acrylic</a></li>
                    <li {% if active == 'drawing' %}class="active"{% endif %}><a href="{{ basePath }}drawing.html">Drawing</a></li>
                    <li {% if active == 'bio' %}class="active"{% endif %}><a href="{{ basePath }}bio.html">Bio</a></li>
                    <li {% if active == 'purchase' %}class="active"{% endif %}><a href="{{ basePath }}purchase.html">Purchase</a></li>
                    <li {% if active == 'contact' %}class="active"{% endif %}><a href="{{ basePath }}contact.html">Contact</a></li>
                    <li {% if active == 'blog' %}class="active"{% endif %}><a target='_blank' href="http://blog.timroedigerart.com.au">Blog</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="divider"></div>

            <div class="content">
                {% block content %}{% endblock %}
                <div class="clear"></div>
            </div>                                         
        </div>
            <div class="footer">
                <a href='/'>timroedigerart.com.au</a>
            </div>                 
    </body>
</html>
