
<div class="thumbnail">
    <a href='{{ work.path }}/{{ work.slug }}.html'>
    <img src="{{ work.path }}/{{ work.slug }}-thumb.jpg" />
    <div class="caption-background">
        {{ work.title }} <br />
        medium: {{ work.medium }} <br />
        dimensions: {{ work.width }}mm x {{ work.height }}mm<br />
        price: ${{ work.price }}
    </div>    
    <div class="caption">
        {{ work.title }} <br />
        medium: {{ work.medium }} <br />
        dimensions: {{ work.width }}mm x {{ work.height }}mm<br />
        price: ${{ work.price }}
    </div>
    </a>
</div>
